services:
  - type: web
    name: runawayla84-api
    env: node
    repo: https://github.com/IRTELC01/RunaWay.git
    branch: main
    rootDir: server
    buildCommand: npm ci
    startCommand: npm start
    healthCheckPath: /
    plan: free
    autoDeploy: true
    envVars:
      - key: JWT_SECRET
        sync: false
      - key: DEFAULT_ADMIN_PASSWORD
        value: runaway123
      - key: FRONTEND_ORIGIN
        sync: false

  - type: web
    runtime: static
    name: runawayla84
    repo: https://github.com/IRTELC01/RunaWay.git
    branch: main
    rootDir: client
    buildCommand: npm ci && npm run build
    staticPublishPath: dist
    plan: free
    autoDeploy: true
    envVars:
      - key: VITE_API_URL
        value: /api
    routes:
      - type: rewrite
        source: /api/*
        destination: https://${runawayla84-api.publicHost}/api/*
      # SPA: reescribir todas las rutas a index.html para soportar react-router
      - type: rewrite
        source: /*
        destination: /index.html