services:
  - type: web
    name: runaway-api
    env: node
    repo: https://github.com/IRTELC01/RunaWay.git
    branch: main
    rootDir: server
    buildCommand: npm ci
    startCommand: npm start
    healthCheckPath: /
    plan: free
    autoDeploy: true
    envVars:
      - key: JWT_SECRET
        sync: false
      - key: DEFAULT_ADMIN_PASSWORD
        value: runaway123
      - key: FRONTEND_ORIGIN
        sync: false

  - type: web
    runtime: static
    name: runaway-web
    repo: https://github.com/IRTELC01/RunaWay.git
    branch: main
    rootDir: client
    buildCommand: npm ci && npm run build
    staticPublishPath: dist
    plan: free
    autoDeploy: true
    routes:
      - type: rewrite
        source: /api/*
        destination: https://${runaway-api.publicHost}/api/*